extends email-layout

block content
  h2 Password Reset
  p Hello there! A password reset for your account was requested. Please click on the button bellow to continue with resetting your password.
  p Please note this link is only valid for the next hour. After this time has expired you will need to submit a new request for a password reset.
  +button(resetURL, 'Reset my Password →')
  p If you can't click the above button please visit #{resetURL}
  br
  p If you didn't request this email, please ignore it.